---
import GithubSlugger from "github-slugger";
import { HTTPSnippet } from "@readme/httpsnippet";
import { Code } from "@astrojs/starlight/components";
import { Markdown, markdown } from "@astropub/md";
import PathParameters from "@components/PathParameters.astro";
import BodyParameters from "@components/BodyParameters.astro";
import Returns from "@components/Returns.astro";

type Props = {
  name: string;
  description: string;
  path: string;
  httpVerb: string;
  operationId: string;
  pathParameters: any; //TODO type this properly
  information: any;
};

const {
  name,
  description,
  httpVerb,
  operationId,
  path,
  pathParameters,
  information,
} = Astro.props;

const slugger = new GithubSlugger();
const slug = slugger.slug(name);
const snippet = new HTTPSnippet({
  url: "https://studio.fiberplane.com" + path,
  method: httpVerb,
  headers: [
    {
      name: "Content-Type",
      value: "application/json",
    },
  ],
});
---

<section>
  <a href={`#${slug}`}
    ><h2 id={slug}>
      {await markdown.inline(name)}
    </h2></a
  >
  <div class="table-wrapper">
    <div class="table">
      <p>
        <Markdown.Inline of={description} />
      </p>
      {pathParameters && <PathParameters {pathParameters} />}

      {
        information?.requestBody && (
          <BodyParameters requestBody={information.requestBody} />
        )
      }

      {information.responses && <Returns responses={information.responses} />}
    </div>
    <div class="sample">
      <div class="operation-path">
        <Code code={`${httpVerb.toUpperCase()} ${path}`} frame="auto" />
        <Code
					wrap
          code={await snippet.convert("shell", "", {
            short: true,
            indent: "\t",
          })}
          frame="auto"
        />
      </div>
    </div>
  </div>
</section>

<style>
  a {
    text-decoration: none;
  }

  p,
  li {
    font-size: var(--sl-text-sm);
  }

  .verb-path {
    font-size: var(--sl-text-base);
  }

  .code {
    text-wrap: wrap;
  }

  a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--sl-color-gray-5);
  }

  h2 {
    font-size: var(--sl-text-h4) !important;
    padding-bottom: var(--sl-content-pad-y);
  }

  .table-wrapper {
    display: grid;
    grid-template-columns:  repeat(2, minmax(0,1fr));
    column-gap: var(--sl-content-pad-x);
  }

  .table {
    display: grid;
    grid-template-rows: auto 1fr;
    row-gap: var(--sl-content-pad-y);
  }

  .sample {
    margin-top: 0 !important;
  }
</style>
