---
import { HTTPSnippet, type HarRequest } from "@readme/httpsnippet";
import { Code } from "@astrojs/starlight/components";
import { Markdown, markdown } from "@astropub/md";
import PathParameters from "@components/PathParameters.astro";
import BodyParameters from "@components/BodyParameters.astro";
import Returns from "@components/Returns.astro";
import { circularStringify } from "@lib/utils";

type Props = {
  name: string;
  description: string;
  path: string;
  httpVerb: string;
  operationId: string;
  pathParameters: any; //TODO type this properly
  information: any;
};

const {
  name,
  description,
  httpVerb,
  operationId,
  path,
  pathParameters,
  information,
} = Astro.props;

type Header = HarRequest["headers"][number];

function createHeaders() {
	let headers: Header[] = []

	if (information?.requestBody?.content) {
		headers = Object.keys(information.requestBody.content).map((contentType) => {
			return {
				name: "Content-Type",
				value: contentType,
			};
		});
	}

	if (!information?.security) {
		headers.push({ name: "Authorization", value: "Bearer <YOUR_API_TOKEN>" })
	}

	return headers
}

const snippet = new HTTPSnippet({
  url: "https://studio.fiberplane.com" + path,
  method: httpVerb,
  headers: createHeaders(),
});

let responseSchema;

if (information?.responses["200"]?.content && "application/json" in information?.responses["200"]?.content) {
	responseSchema = circularStringify( information.responses["200"].content["application/json"].schema)
}
---

<section>
  <a href={`#${operationId}`}
    ><h2 id={operationId}>
      {await markdown.inline(name)}
    </h2></a
  >
  <p>
    <code class="verb-path">{`${httpVerb.toUpperCase()} ${path}`}</code>
  </p>
  <div class="table-wrapper">
    <div class="table">
      <p>
        <Markdown.Inline of={description} />
      </p>
      {pathParameters && <PathParameters {pathParameters} />}

      {
        information?.requestBody && (
          <BodyParameters requestBody={information.requestBody} />
        )
      }

      {information.responses && <Returns responses={information.responses} />}
    </div>
    <div class="sample">
      <div>
        <Code
          code={await snippet.convert("shell", "", {
            short: true,
            indent: "\t",
          })}
          frame="auto"
				title="Example cURL request"
        />
{responseSchema && (
	<Code 
		title="Response schema" 
		code={responseSchema} 
		class="response-schema"
	/> )}
      </div>
    </div>
  </div>
</section>

<style>
  a {
    text-decoration: none;
  }

  p,
  li {
    font-size: var(--sl-text-sm);
  }

  .verb-path {
    font-size: var(--sl-text-base);
  }

  .code {
    text-wrap: wrap;
  }

  a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--sl-color-gray-5);
  }

  h2 {
    font-size: var(--sl-text-h4) !important;
    padding-bottom: var(--sl-content-pad-y);
  }

  .table-wrapper {
    display: grid;
    grid-template-columns:  repeat(2, minmax(0,1fr));
    column-gap: var(--sl-content-pad-x);
  }

  .table {
    display: grid;
    grid-template-rows: auto 1fr;
    row-gap: var(--sl-content-pad-y);
  }

  .sample {
    margin-top: 0 !important;
		position: sticky;
		align-self: start;
		top: 5rem;
  }

	.response-schema {
		overflow: auto;
		max-height: 400px;
	}

</style>
