---
import { Markdown, markdown } from "@astropub/md";
import NestedParameter from "@components/NestedParameter.astro";
import { hasNestedProperties } from "@lib/utils";
import { OpenAPIV3 } from "openapi-types";

interface Props {
  requestBody: OpenAPIV3.RequestBodyObject;
}

const { requestBody } = Astro.props;

function getFormatForBody() {
  if (requestBody.content["application/json"]) {
    return requestBody.content["application/json"];
  }

  if (requestBody.content["multipart/form-data"]) {
    return requestBody.content["multipart/form-data"];
  }

  return;
}

const format = getFormatForBody();

if (!format) {
  return;
}

if (format.schema && "$ref" in format.schema) {
  return;
}

const properties = format?.schema?.properties;
const required = format?.schema?.required;

if (!properties) {
  return;
}

function getType(value: OpenAPIV3.SchemaObject) {
  if (value.oneOf) {
    return "one of";
  }

  if (!value.type) {
    return;
  }

  if (value.type === "array") {
    const items = value.items as OpenAPIV3.SchemaObject;
    const of = items.type ? items.type : "object"; // TODO: handle more complex types
    return "array of " + of;
  }

  if (value.type === "object") {
    return "object";
  }

  return value.type;
}

---

<>
  <h4>Body parameters</h4>
  <p>{requestBody?.description}</p>
  <ul>
    {
      Object.entries(properties).map(([key, schema]) => {
        if ("$ref" in schema) {
          return;
        }

        return (
          <li class="body-parameter">
            <h6>
              <code>{key}</code>
              <span>{getType(schema)}</span>
              <span class="required-flag">
                {required?.includes(key) ? "Required" : ""}
              </span>
            </h6>
            <p>
              <Markdown.Inline
                of={schema?.description ? schema?.description : ""}
              />
            </p>
            {hasNestedProperties(schema) && (
              <NestedParameter name={key} {schema} />
            )}
          </li>
        );
      })
    }
  </ul>
</>

<style>
  ul {
    list-style: none;
    padding: 0;
  }

  h4 {
    font-size: var(--sl-text-h6) !important;
  }

  .body-parameter {
    padding-top: 1rem;
    border-top: 1px solid var(--sl-color-gray-5);
  }

  .body-parameter > h6 {
    font-size: var(--sl-text-sm) !important;
    font-weight: normal;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--sl-content-pad-x);
  }

  .body-parameter code {
    font-weight: bold !important;
    background: var(--sl-color-gray-6);
    border-radius: 4px;
    padding: 4px;
    margin: 0;
  }

  details ul {
    background-color: var(--sl-color-gray-6);
    padding: var(--sl-content-pad-x);
  }

  .required-flag {
    font-size: var(--sl-text-xs);
    color: var(--sl-color-red);
  }
</style>
