---
import { Markdown, markdown } from "@astropub/md";
import NestedParameter from "@components/NestedParameter.astro";

const { requestBody } = Astro.props;

const json = requestBody.content["application/json"];

if (!json) {
  return;
}

const properties = json?.schema?.properties;

if (!properties) {
  return;
}

function getType(value) {
  if (value.oneOf) {
    return "one of";
  }

  if (!value.type) {
    return;
  }

  if (value.type === "array") {
    const of = value.items.type ? value.items.type : "object"; // TODO: handle more complex types
    return "array of " + of;
  }

  if (value.type === "object") {
    return "object";
  }

  return value.type;
}

function hasNestedProperties(value) {
	if (!value) {
		return false;
	}

	if (value.oneOf) {
		return true;
	}

	if (value?.items?.oneOf) {
		console.log(value.items.oneOf);
		return true;
	}

	if (value.type === "array") {
		return true;
	}

	if (value.type === "object") {
		return true;
	}

	return false;
}
---

<>
  <h4>Body parameters</h4>
  <p>{requestBody?.description}</p>
  <ul>
    {
      Object.entries(properties).map(([key, value]) => {
        return (
          <li class="body-parameter">
            <h6>
              <code>{key}</code>
              <span>{getType(value)}</span>
            </h6>
            <p>
              <Markdown.Inline of={value?.description} />
            </p>
					{hasNestedProperties(value)}
            {value.type === "object" && (
              <NestedParameter name={key} properties={value.properties} />
            )}
            {value.type === "array" && (
              <NestedParameter name={key} properties={value.items.properties} />
            )}
            {value?.oneOf ? (
              <NestedParameter name={key} properties={value?.oneOf} oneOf />
            ) : undefined}
            {value?.items?.oneOf ? (
              <NestedParameter name={key} properties={value?.items?.oneOf} oneOf />
            ) : undefined}
          </li>
        );
      })
    }
  </ul>
</>

<style>
  ul {
    list-style: none;
    padding: 0;
  }

  h4 {
    font-size: var(--sl-text-h6) !important;
  }

  .body-parameter {
    padding-top: 1rem;
    border-top: 1px solid var(--sl-color-gray-5);
  }

  .body-parameter > h6 {
    font-size: var(--sl-text-sm) !important;
    font-weight: normal;
    display: flex;
    flex-direction: row;
    gap: var(--sl-content-pad-x);
  }

  .body-parameter code {
    font-weight: bold !important;
    background: none;
    padding: 0;
    margin: 0;
  }

  details ul {
    background-color: var(--sl-color-gray-6);
    padding: var(--sl-content-pad-x);
  }
</style>
